extends layout1.pug
block append head
    script var type = "#{type}"
    script var page = "#{page}"
    script var idtype = #{idtype}
    p!= script
block content
    #contenedor.contenedor
      include sidebar.pug
      .main-content
        .swipe-area
        a#sidebar-toggle(href='#', data-toggle='.contenedor')
          span.bar
          span.bar
          span.bar
        .content
          header.bg-theme
            .wrap-header
              .row
                a(href='/menu/home1')
                  img(src='../../images/header.png', width='384', height='95')
                img(src='../images/vacio.png', width='300', height='4', border='0')
                //img(src='../images/header_titulo.png', width='384', height='95', border='0')
          p(style='color: #f1563a')
          p!= html