extends layout1.pug
block append head
    script var type = "#{type}"
    script var page = "#{page}"
    script var idtype = #{idtype}
    p!= script
block content
    #contenedor.contenedor
      include sidebar.pug
      .main-content
        .swipe-area
        a#sidebar-toggle(href='#', data-toggle='.contenedor')
          span.bar
          span.bar
          span.bar
        .content
          header.bg-theme
          .header_new
            .cajaBuscador
              a.hotspot(href='/menu/vista360')
              .buscador
                .campoRut
                  .clock
                  form#vista360(onsubmit='return false;')
                    input#camponum(name='', type='text')
                    input#btnenviar(name='', type='submit', value='')
              .social
                .bell
                .persona
            .cajaRut
          p(style='color: #f1563a')
          p!= html