html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title SIP Banco de Chile - Sistema Integrado de Presupuesto
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css', media='screen', charset='utf-8')                                
    link(rel='stylesheet', href='/stylesheets/ui.jqgrid-bootstrap.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.css', type='text/css', media='screen', charset='utf-8')        
    link(rel='stylesheet', href='stylesheets/test.css', type='text/css', media='screen', charset='utf-8')         
    link(rel='stylesheet', href='/stylesheets/stylesheet.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='screen', charset='utf-8')    
    link(rel='stylesheet', href='/stylesheets/menu.css', type='text/css', media='screen', charset='utf-8') 
    link(rel='stylesheet', href='/stylesheets/dashboard.css', type='text/css', media='screen', charset='utf-8')         
    script(type='text/javascript', src='/javascripts/jquery-1.12.3.js')
    script(type='text/javascript', src='/javascripts/highcharts/highcharts.js')
    script(type='text/javascript', src='/javascripts/highcharts/highcharts-more.js')
    script(type='text/javascript', src='/javascripts/grid.locale-es.js')
    script(type='text/javascript', src='/javascripts/jquery.jqGrid.min.js')
    script(type='text/javascript', src='/javascripts/jquery.mask.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap-datepicker.js')
    script(type="text/javascript", src="/javascripts/locales/bootstrap-datepicker.es.js", charset="UTF-8")
    script(type='text/javascript', src='/javascripts/bootstrap3-typeahead.js')
    script(type='text/javascript', src='/javascripts/script.js')
    script(type='text/javascript', src='/javascripts/jquery.touchSwipe.min.js')
    script(type='text/javascript', src='/javascripts/jsplug.js')
    script(type='text/javascript', src='/javascripts/sip.js')
    script(type='text/javascript', src='/resources/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/bootbox.min.js')
    script var page = "#{page}"
    if(page==='contratos')
     script(type='text/javascript', src='/javascripts/views/contrato.js')
     script(type='text/javascript', src='/javascripts/views/detallecontrato.js')
     script(type='text/javascript', src='/javascripts/views/detallecompromiso.js')
    else if(page==='cuentascontables')
     script(type='text/javascript', src='/javascripts/views/cuentascontables.js')
    else if(page==='iniciativas')
     script(type='text/javascript', src='/javascripts/views/iniciativa.js')
     script(type='text/javascript', src='/javascripts/views/iniciativaprograma.js')
     script(type='text/javascript', src='/javascripts/views/iniciativafecha.js')
     script(type='text/javascript', src='/javascripts/views/presupuestoiniciativa.js')
     script(type='text/javascript', src='/javascripts/views/tareasnuevosproyectos.js')
     script(type='text/javascript', src='/javascripts/views/flujonuevatarea.js')
    else if(page==='cargadte')          
     link(rel='stylesheet', href='stylesheets/font-awesome-4.7.0/css/font-awesome.min.css', type='text/css', media='screen', charset='utf-8')
     script(type='text/javascript', src='/javascripts/views/cargadte.js')
     script(type='text/javascript', src='/javascripts/ajaxfileupload.js')
    else if(page==='conceptos')     
     script(type='text/javascript', src='/javascripts/views/conceptos.js')
    else if(page==='cargas')   
     link(rel='stylesheet', href='stylesheets/font-awesome-4.7.0/css/font-awesome.min.css', type='text/css', media='screen', charset='utf-8')           
     script(type='text/javascript', src='/javascripts/views/cargas.js')
     script(type='text/javascript', src='/javascripts/ajaxfileupload.js')
    else if(page==='compromisosporcui')      
     script(type='text/javascript', src='/javascripts/views/compromisosporcui.js')
     script(type='text/javascript', src='/javascripts/views/compromisosporcuiservicios.js')
     script(type='text/javascript', src='/javascripts/views/compromisosporcuiflujos.js')
    else if(page==='estructuracui')
     script(type='text/javascript', src='/javascripts/views/estructuracui.js')
    else if(page==='factorrecuperacion')
     script(type='text/javascript', src='/javascripts/views/factorrecuperacion.js')
    else if(page==='facturas')
     script(type='text/javascript', src='/javascripts/views/facturas.js')
    else if(page==='genprefacturas')
     script(type='text/javascript', src='/javascripts/views/solicitudesaprobadas.js')
    else if(page==='genprefacturasproy')
     script(type='text/javascript', src='/javascripts/views/solicitudesaprobadasproy.js')
    else if(page==='grafico')
     script(type='text/javascript', src='/javascripts/views/grafico2.js')
    else if(page==='iniciativasconsulta')
     script(type='text/javascript', src='/javascripts/views/iniciativaconsulta.js')
    else if(page==='hyperion')
     script(type='text/javascript', src='/javascripts/views/hyperion.js')
    else if(page==='monedasconversion')
     script(type='text/javascript', src='/javascripts/views/monedasconversion.js') 
    else if(page==='nuevosproyectos')
     script(type='text/javascript', src='/javascripts/views/nuevosproyectos.js')
     script(type='text/javascript', src='/javascripts/views/tareasnuevosproyecto.js')
     script(type='text/javascript', src='/javascripts/views/flujonuevatarea.js')
    else if(page==='plantilla')
     script(type='text/javascript', src='/javascripts/views/plantilla.js')  
    else if(page==='solicitud')
     script(type='text/javascript', src='/javascripts/views/solicitud.js')          
    else if(page==='prefactura')
     script(type='text/javascript', src='/javascripts/views/prefactura.js')     
    else if(page==='prefacturas')
     script(type='text/javascript', src='/javascripts/views/prefacturas.js')
     script(type='text/javascript', src='/javascripts/views/solicitudesfactura.js')
     script(type='text/javascript', src='/javascripts/views/desglosesolicitud.js')
    else if(page==='pert')
     script(type='text/javascript', src='/javascripts/views/pert.js')
     script(type='text/javascript', src='/javascripts/go/go-debug.js')   
    else if(page==='solicitudProyectos')
     script(type='text/javascript', src='/javascripts/views/solicitudProyectos.js')       
    else if(page==='prefacturasolicitud')
     link(rel='stylesheet', href='/stylesheets/formulario_prefactura.css', type='text/css', media='screen', charset='utf-8')
     script(type='text/javascript', src='/javascripts/views/prefacturasolicitud.js')
    else if(page==='presupuesto')
     script(type='text/javascript', src='/javascripts/views/presupuesto.js')
    else if(page==='presupuestoaprueba')
     script(type='text/javascript', src='/javascripts/views/presupuestoaprueba.js')     
    else if(page==='presupuestoeditcosto')
     script(type='text/javascript', src='/javascripts/views/presupuestoeditcosto.js')   
    else if(page==='presupuestoenvuelo')
     script(type='text/javascript', src='/javascripts/views/presupuestoenvuelo.js')
     script(type='text/javascript', src='/javascripts/views/tareaenvuelo.js')
     script(type='text/javascript', src='/javascripts/views/fechaenvuelo.js')
     script(type='text/javascript', src='/javascripts/views/conversionenvuelo.js')
     script(type='text/javascript', src='/javascripts/views/flujopagoenvuelo.js')
    else if(page==='inscripcionsap')
     script(type='text/javascript', src='/javascripts/views/inscripcionsap.js')
     script(type='text/javascript', src='/javascripts/views/tareasinscripcion.js')
    else if(page==='reporte')
     script(type='text/javascript', src='/javascripts/views/reporte.js')
     script(type='text/javascript', src='/javascripts/pdfobject.min.js')  
     style.
      .pdfobject-container { height: 500px;}
      .pdfobject { border: 1px solid #666; }  
    else if(page==='proveedores')
     script(type='text/javascript', src='/javascripts/views/proveedor.js')
    else if(page==='parametros')
     script(type='text/javascript', src='/javascripts/views/parametro.js')
    else if(page==='roles')
     script(type='text/javascript', src='/javascripts/views/roles.js')
     script(type='text/javascript', src='/javascripts/views/roles2.js')
    else if(page==='permisos')
     script(type='text/javascript', src='/javascripts/views/permisos.js')
     script(type='text/javascript', src='/javascripts/views/permisos2.js')
     script(type='text/javascript', src='/javascripts/views/permisos3.js')
    else if(page==='proyectos')
     script(type='text/javascript', src='/javascripts/views/proyecto.js')
    else if(page==='serviciosext')
     script(type='text/javascript', src='/javascripts/views/servicios.js')
    else if(page==='registro')
     script(type='text/javascript', src='/javascripts/views/registro.js')
    else if(page==='resetpwd')
     link(rel='stylesheet', href='/stylesheets/formulario_consulta.css', type='text/css', media='screen', charset='utf-8')        
     script(type='text/javascript', src='/javascripts/views/resetpwd.js')     
    else if(page==='roldenegocio')
     script(type='text/javascript', src='/javascripts/views/roldenegocio.js')
     script(type='text/javascript').
      var uid = #{user[0].uid};
    else if(page==='planiniciativas')
     script(type='text/javascript', src='/javascripts/views/planiniciativas.js')   
    else if(page==='consultalog')
     link(rel='stylesheet', href='/stylesheets/formulario_consulta.css', type='text/css', media='screen', charset='utf-8')    
     script(type='text/javascript', src='/javascripts/views/consultalog.js')
    else
     script(type='text/javascript', src='/javascripts/dashboard.js')
  body
    #contenedor.contenedor
      include sidebar.pug
      .main-content
        .swipe-area
        a#sidebar-toggle(href='#', data-toggle='.contenedor')
          span.bar
          span.bar
          span.bar
        .content
          header.bg-theme
            .wrap-header
              .row
                a(href='/home')
                  img(src='../../images/header.png', width='384', height='95')
                img(src='../images/vacio.png', width='300', height='4', border='0')
                img(src='../images/header_titulo.png', width='384', height='95', border='0')
          p(style='color: #f1563a')  
          if(page==='home')          
           .row
            .col-xs-4
             .form-group
              select.input-large.form-control
               option(value='') Seleccione un valor
               option(value='GA', selected='selected') Gasto
               option(value='IN') Inversión
           .row
            .col-xs-4
             .dash-unit
              #pie
            .col-xs-4
             .dash-unit
              #linea
            .col-xs-4
             .dash-unit
              #reloj
           .row
            .col-xs-4
             .dash-unit
              #torta
            .col-xs-4
             .dash-unit
              #raya
            .col-xs-4
             .dash-unit
              #dona
          else if(page==='estructuracui') 
           .row
            .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
             h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") #{title}
           .row            
            div(style='width: 100%')
             #container(style='width: 100%; float: left; display: inline-block;')
              table#gridpadre
              #pagerpadre 
            div(style='width: 100%')
             #container(style='width: 100%; float: left; display: inline-block;') 
             | -
            div(style='width: 100%')
             #container(style='width: 100%; float: left; display: inline-block;')
              table#grid
              #pager   
          else if(page==='grafico')
           .row          
            .cajaFormulario
             .formSap
              | SAP :  
              select#sap
               option(value='0', selected='selected') - Escoger SAP -
            div(style='width: 100%')
             #container(style='width: 50%; float: left; display: inline-block;')
             #container2(style='width: 50%; display: inline-block;')
            div(style='width: 100%')
             #container(style='width: 50%; float: left; display: inline-block;')
              table#grid
              #pager
             #container2(style='width: 50%; display: inline-block;')
              table#grid2
              #pager2
          else if(page==='hyperion')
           .gcontainer
            table#gridMaster
            #pagerMaster
            table#gridDetail
            #pagerDetail          
          else if(page==='pert')
           #myDiagramDiv(style='border: solid 1px gray; width:100%; height:400px')
          else if(page==='prefacturasolicitud') 
           .row
            .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
             h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") #{title}
           .row                        
            .cajaFormulario
             .formSap
              | Periodo:
              input#periodo(type='text', name='periodo', disabled, style='line-height: 20px; width: 80px; margin-right: 10px') 
              | CUI :
              select#cui(style='margin-right: 10px') 
              | Proveedor:
              select#proveedor
              #buscar.btn Mostrar Todos       
            div(style='width: 100%')
             #container2(style='width: 100%; display: inline-block;')
              table#grid
              #pager         
          else if(page==='reporte')    
           #outerDiv(style='margin:50px;height:100%')  
            #grafico_1 
            table#grid
            #pager
            #grafico_2   
            table#gridConceptoGasto
            #dialog(style='display: none')                              
          else if(page==='resetpwd')
           .row
            .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
             h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") #{title}
           .row                        
            .cajaFormulario
             .formFactura
              form#miform(action='http://152.139.49.217:8080/forgot-password')    
               | Ingrese Usuario:
               input#user_name(type='text', name='user_name', style='line-height: 20px; width: 180px; margin-right: 10px; margin-left: 10px')
             #buscar.btn Continuar 
            div(style='width: 100%')
             #container(style='width: 50%; float: left; display: inline-block;')
              table#grid
              #pager                
          else if(page==='consultalog')  
           .row
            .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
             h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") #{title}
           .row                        
            .cajaFormulario
             .formSap
              | Funcionalidad :  
              select#funcionalidad
               option(value='0', selected='selected') - Escoger Función -
              select#transaccion
               option(value='0', selected='selected') - Escoger Transacción - 
             .formFactura
              | Usuario:
              select#usuario(type='text', name='factura')
               option(value='0', selected='selected') - Escoger Usuario - 
              span.titCajaPeriodo Periodo:
              input#fechaini(type='text', name='fechaini')
              |         -
              input#fechafin(type='text', name='fechafin')
              span.titCajaRegistro ID Registro:   
              input#idregistro(type='text', name='idregistro')      
             #buscar.btn Buscar     
            div(style='width: 100%')
             #container(style='width: 100%; float: left; display: inline-block;')
              table#grid
               #pager          
          else 
           .row
            .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
             h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") #{title}
           .row                        
            .gcontainer
             table#grid
             #pager   